/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family:'Bai Jamjuree', sans-serif;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html, 
body {
    height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
}

/* STYLING */ 

* p {
    line-height: 1.7rem;
    color: hsl(201, 11%, 66%);
    font-size: 1.2rem;
}

body {
    background-image: url("images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    padding: 0 2rem;
    max-width: 800px;
    margin: 0 auto;
}

header img {
    margin: 8rem auto 3rem auto;
}

header h1 {
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

header p {
    font-weight: 400;
    padding-bottom: 2.5rem;
}

.buttons, .foot_but {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 8rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.ios:hover, .mac:hover {
    opacity: 0.6;
    cursor: pointer;
}

.buttons button, .foot_but button{
    width: 100%;
    padding: 1rem 0;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    color: white;
    box-shadow: 0.5px 0.5px 5px rgb(187, 187, 187);
    font-size: 1.1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.ios {
    background-color:hsl(171, 66%, 44%) ;
}

.mac {
    background-color: hsl(233, 100%, 69%);
}

.keep_box {
    padding: 0 2rem;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.keep_box h2 {
    padding-bottom: 1rem;       
}

.keep_info{
    padding-bottom: 4rem;
}

.computer{
    padding: 0 2rem;
    text-align: center;
    margin-bottom:8rem ;
}

.computer img {
    margin: 0 auto;
}

.computer_box {
    margin-top: 2rem;
}

.computer_info p{
    padding: 0 0.5rem;
}

.computer_info:not(:last-child) {
    padding-bottom: 2rem;
}

.access_box , .super_box {
    padding: 0 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.access_box h2 {
    padding-bottom: 1rem; 
}

.img_device {
    padding: 0 1.5rem;
    margin: 0 auto;
}

.super_box {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.tools {
    text-align: center;
    padding: 0 2rem;
    margin-bottom:6rem ;
}

.tools_div:not(:last-child) {
    padding-bottom: 3rem;
}

.tools_div img {
    margin: 0 auto;
    padding-bottom: 2rem;
}

.sponser img {
    margin: 0 auto;
}

.sponser img:not(:last-child) {
    padding-bottom: 3.5rem;
}

.sponser {
    margin-bottom: 6rem;
}

.clipboard {
    text-align: center;
    padding: 0 2rem;
}

.clipboard h2 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.foot_but {
    margin-top: 3rem;
}

footer {
    background-color: hsla(0, 0%, 83%, 0.137);
}

footer .logo {
    margin: 0 auto;
    padding: 3rem 0;
    width: 15%;
}

.directory ul {
    text-align: center;
}

.directory ul li{
    padding-bottom: 1.5rem;
}

.directory ul li:last-child{
    padding-bottom: 3rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
}

/*MEDIA Q*/ 

@media (min-width:1440px) {
    body {
        background-image: url("images/bg-header-desktop.png");
    }

    .buttons, .foot_but {
        flex-wrap: nowrap;
        max-width: 600px;
    }

    .buttons button, .foot_but button{
        width: 100%;
        padding: 1rem 0;
        max-width: 300px;
        gap: 0;
    }

    .computer {
        display: flex;
        padding: 0;
        text-align: left;
    }

    .computer img {
     margin: 0;   
     position: relative;
     left: -2rem;
    }

    .computer_box {
        padding-top: 2rem;
        padding-left: 2rem;
        max-width: 550px;
    }

    .computer_info p {
        padding-left: 0;
        padding-top: 1rem;
        
    }

    .computer_info h3 {
        font-size: 1.5rem;
    }

    .access_box {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }

    .access_box h2{
        font-size: 1.7rem;
    }

    .super_box {
        margin-bottom: 5rem;
    }

    .super_box h2 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .tools {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        
    }

    .tools_div {
        width: 30%;
    }

    .tools_div h3 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }

    #icon {
        padding-bottom: 1.35rem;
    }

    .sponser {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        margin-right: 3rem;
        margin-bottom: 9rem;
        }


    .sponser img:not(:last-child) {
        padding-bottom: 0;
    }

    .clipboard {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .clipboard h2 {
        font: 1.7rem;
    }

    footer {
        display: flex;
        align-items: center;
        height: 8rem;
    }
    
    footer .logo {
        padding:0;
        width: 5rem;
        height: 5rem;
        margin: 0 8rem;
    }

    
    .directory ul {
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 500px;
        height: 5rem;
    }
    
    .directory ul li{
        padding-bottom: 1rem;
        list-style: none;
    }
    
    .directory ul li:last-child{
        padding-bottom: 0;
    }

    
    .socials {
        margin: 0 0 0 16rem ;
        padding-bottom:0;
    }

    .socials img {
        width: 2rem;
        height: 2rem;
    }
}

